# Configurazione server express
PORT=3000

# Configurazione database MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=example
DB_CONNECTION_LIMIT=10

# Segreto per cifrare i cookie di sessione
SESSION_SECRET=segreto_lungo_e_sicuro12345!!

# Configurazione server mail
SMTP_HOST=smtp.example.com
SMTP_PORT=25
SMTP_USER=le_tue_chiavi_smtp
SMTP_PASS=le_tue_chiavi_smtp
EMAIL_FROM="Helpdesk <noreply@helpdesk.it>"
